.box {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: blue;
    box-shadow: 10px 15px red;
    transition-property: all;
    transition-duration: 2s;
}

.box:hover {
    transform: scale(2);
    box-shadow: 10px 15px 20px red;
}

.circle {
    margin: 250px auto;
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    animation-name: fafu;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes fafu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}